.header {
    background-color: var(--header-bg-color, transparent);
    &:not(.header-overlap) {
        --header-bg-color: var(--header-bg)
    }
    &-overlap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 50;
    }
}