:root {
    // General
    --body-bg: {{ settings.body_bg }};
    --text-color: {{ settings.text_color }};
    --link-color: {{ settings.link_color }};

    // Base
    --font-family: {{ settings.font_family.family }}, {{ settings.font_family.fallback_families }};
    --font-weight: {{ settings.font_family.weight }};

    --header-bg: {{ settings.header_bg }};
    // Menu
    --menu-bg: {{ settings.menu_bg }};
    --menu-color: {{ settings.menu_color }};
}