<div class="image-with-text section">
  <h2>{{ section.settings.cta_text_test }}</h2>
</div>

{% schema %}
  {
    "name": "Call to Actions",
    "class": "index-section index-section--flush",
    "settings": [
      {
        "id": "cta_text_test",
        "type": "text",
        "label": "CTA 1 Title",
        "default": "Dryups Specials"
      }
    ],
    "presets": [
      {
        "name": "Call to Actions",
        "category": "Text"
      }
    ]
  }
{% endschema %}