<div>
  {% for product in collection.products %}
    <!-- product info -->
    {{ product.title | truncate: 30 }}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Listado de productos",
    "class": "index-section",
    "settings": []
  }
{% endschema %}