{% assign item = section.settings %}
{% assign name_collection = item.feature_collection %}

{% if name_collection == blank %}
  {% assign name_collection = "all" %}
{% endif %}

{% assign collection = collections[name_collection] %}


<div class="products-section">
  <h2>test</h2>
  {% if collection.products.size == 0 %}
    <p>No hay productos</p>
  {% else %}
    {% for product in collection.products %}
      {{ product.images.first | product_img_url: 'small' }}

      <h1>{{ product.title }}</h1>
    {% endfor %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Listado de productos",
    "class": "index-section",
    "settings": [
      {
        "type": "collection",
        "id": "feature_collection",
        "label": "Feature collection"
      }
    ]
  }
{% endschema %}