{% assign item = section.settings %}

<div class="banners">
  {% for block in section.blocks %}
    {% assign banner = block.settings %}
    <div class="banner">
      <div class="banner__image">{{ banner.image | image_url: width: 700 | image_tag }}</div>
      <div class="banner__content">
        <div class="banner__title">{{ banner.title }}</div>
      </div>
    </div>

  {% endfor %}
</div>

{% schema %}
  {
    "name": "Banner",
    "class": "index-section",
    "settings": [],
    "blocks": [
      {
        "type": "item",
        "name": "Banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Imagen"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Título"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtítulo"
          },
          {
            "type": "header",
            "content": "Botón"
          }, {
            "type": "url",
            "id": "url",
            "label": "Enlace"
          }, {
            "type": "text",
            "id": "label",
            "label": "Etiqueta de botón"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Banner",
        "category": "Simple Section"
      }
    ]
  }
{% endschema %}