<div>
  <h2>test</h2>
  {% if collection.products.size == 0 %}
    <p>No hay productos</p>
  {% else %}
    {% for product in collection.products %}
      <h1>{{ product.title }}</h1>
    {% endfor %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Listado de productos",
    "class": "index-section",
    "settings": []
  }
{% endschema %}