<div>
  banner
</div>

{% schema %}
  {
    "name": "Banner",
    "class": "index-section",
    "settings": [],
    "blocks": [
      {
        "type": "item",
        "name": "Banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Imagen"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Título"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtítulo"
          },
          {
            "type": "header",
            "content": "Botón"
          }, {
            "type": "url",
            "id": "url",
            "label": "Enlace"
          }, {
            "type": "text",
            "id": "label",
            "label": "Etiqueta de botón"
          }
        ]
      }
    ]
  }
{% endschema %}