<div>
  {% paginate collection.products by 20 %}
    {% for product in collection.products %}
      <!-- product info -->
      {{ product.title | truncate: 30 }}
    {% endfor %}

    {{ paginate | default_pagination }}
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Listado de productos",
    "class": "index-section",
    "settings": []
  }
{% endschema %}