{% assign item = section.settings %}
<div class="main-banner relative">
  <div class="container">
    <div class="wrap">
      <h1 class="main-banner__title">{{ item.title }}</h1>
      <div class="main-banner__image absolute">
        {{ item.image | image_url: width: 1920 | image_tag }}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Main banner",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Título"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Imagen"
      }
    ],
    "presets": [
      {
        "name": "Main banner",
        "category": "Simple Section"
      }
    ]
  }
{% endschema %}