.btn {
    display: inline-flex;
    background-color: var(--button-bg, #000000);
    color: var(--button-color, #FFFFFF);
    padding: 0.625rem 1rem;
    min-width: 4rem;
    text-decoration: none;
}