.main-banner {
    min-height: 100vh;
    &__image {
        top: 0;
        left: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
