.container {
    width: 100%;
    padding: 0 1rem;
    margin: auto;
    @media (min-width: 992px) {
        max-width: 1400px;
    }
}
.container-fluid {
    width: 100%;
    padding: 0 1rem;
}

// Grid
.cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr));
}