.container {
    width: 100%;
    padding: 0 1rem;
    margin: auto;
    @media (min-width: 992px) {
        max-width: 1400px;
    }
}
.container-fluid {
    width: 100%;
    padding: 0 1rem;
}

// Grid
.cols-2 {
    grid-template-columns: repeat(8,minmax(0,1fr));
}

.b\:skin {
    &-cols {
        grid-template-columns: repeat(var(--skin-cols, 4), minmax(0, 1fr));
    }
    @media (min-width: 992px) {
        --skin-cols: var(--skin-cols-lg);
    }
}

.grid-cols {
    grid-template-columns: repeat(var(--columns, 1), minmax(0, 1fr));
}

cols {
    @at-root .#{&} {
    --columns: 1;
        &-6 {
            --columns: 6;
        }
        &-5 {
            --columns: 5;
        }
        &-4 {
            --columns: 4;
        }
        &-3 {
            --columns: 3;
        }
        &-2 {
            --columns: 2;
        }
    }
    @media (min-width: 768px) {
        @at-root .md\:#{&} {
            &-6 {
                --columns: 6;
            }
            &-5 {
                --columns: 5;
            }
            &-4 {
                --columns: 4;
            }
            &-3 {
                --columns: 3;
            }
            &-2 {
                --columns: 2;
            }
        }
    }
    @media (min-width: 992px) {
        @at-root .lg\:#{&} {
            &-6 {
                --columns: 6;
            }
            &-5 {
                --columns: 5;
            }
            &-4 {
                --columns: 4;
            }
            &-3 {
                --columns: 3;
            }
            &-2 {
                --columns: 2;
            }
        }
    }
}


.fit-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 100%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}