html {
    font-size: 16px;
}
body {
    font-family: var(--font-family);
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--body-bg);
}
a {
    color: var(--link-color);
}
.base {
    font-size: 1rem;
}
.small {
    font-size: .8rem;
}
h1,
.h1 {
    font-size: 32px;
}
h2,
.h2 {
    font-size: 28px;
}
h3,
.h3 {
    font-size: 20px;
}
h4,
.h4 {
    font-size: 18px;
}
h5,
.h5 {
    font-size: 16px;
}
